<main>

	{% if headlines %}
		<div class="g-row12">
			<div class="g-xs12">
			  {% include 'snippets/headlines.rain' %}
	  	</div>
	  </div>
	{% endif %}

	<div class="g-row12">
		<div class="g-xs12">
			<h1>{{ 'Featured' | t }}</h1>
	  </div>
	</div>

	{% if featured %}
	  <div class="g-row12">
	    {% for product in featured %}
				{% include 'snippets/products.rain' %}
	    {% endfor %}
	  </div>
	{% endif %}
  
  <div class="g-row12">
  	<div class="g-xs12">
  		<h1>{{ 'Categories' | t }}</h1>
    </div>
  </div>

  {% if categories %}
    <div class="g-row12">
    	{% for category in categories %}
	    	<div class="g-xs6 g-sm4 g-md3">
			  	{% include 'snippets/categories.rain' %}
		  	</div>
	    {% endfor %}
	  </div>
	{% endif %}

  <div class="g-row12">
  	<div class="g-xs12">
	    {% include 'snippets/newsletter.rain' %}
    </div>
  </div>

</main>