<main>

	<div class="g-row12">
		<div class="g-xs12">
			{% if shop.settings.social.facebook 
				 or shop.settings.social.google 
				 or shop.settings.social.pinterest 
				 or shop.settings.social.twitter 
				 or shop.settings.social.addthis 
			%}
				{% include 'snippets/share.rain' %}
			{% endif %}
		</div>
	</div>

	<div class="g-row12">
		<div class="g-xs12 g-sm6">
			{% if product.image %}
				{% include 'snippets/zoombox.rain' %}
			{% endif %}			
		</div>

		<div class="g-xs12 g-sm6">
			<section>
				<header>
					<h1>{{ product.title }}</h1>
				</header>
				<main>
					<p>{{ product.price.price | money }}</p>

					{% if product.description %}
						<p>{{ product.description }}</p>
					{% endif %}

					{% if product.content %}
						<p>{{ product.content }}</p>
					{% endif %}

					{% if product.score
						 or product.code 
						 or product.brand 
						 or product.stock.track and product.stock.on_stock 
						 or product.stock.delivery 
						 or product.unit
						 or product.specs
					%}
						<table>
						  {% if product.score %}
							  <tr>
							    <td>{{ 'Product score' | t }}:</td>
							    <td>{{ product.score * 10 }}/10</td>
							  </tr>
						  {% else %}
							  <tr>
							    <td>{{ 'Product score' | t }}:</td>
							    <td>{{ {{ 'Not yet rated' | t }}</td>
							  </tr>
						  {% endif %}
						  {% if product.code %}
							  <tr>
							    <td>{{ 'Article number' | t }}:</td>
							    <td>{{ product.code }}</td>
							  </tr>
						  {% endif %}
						  {% if product.code %}
							  <tr>
							    <td>{{ 'Article number' | t }}:</td>
							    <td>{{ product.code }}</td>
							  </tr>
						  {% endif %}
							{% if product.brand %}
								<tr>
									<td>{{ 'Brand' | t }}</td>
									<td>{{ product.brand.title }}</td>
							  </tr>
							{% endif %}
						  {% if product.stock.track and product.stock.on_stock %}
							  <tr>
							    <td>{{ 'Quantity' | t }}:</td>
							    <td>{{ product.stock.level }}</td>
							  </tr>
						  {% endif %}
						  {% if product.stock.delivery %}
							  <tr>
							    <td>{{ 'Delivery time' | t }}:</td>
							    <td>{{ product.stock.delivery.title }}</td>
							  </tr>
						  {% endif %}
						  {% if product.unit %}
							  <tr>
							    <td>{{ 'Unit price' | t }}:</td>
							    <td>{{ product.unit.price | money }} / {{ product.unit.unit }}</td>
							  </tr>
						  {% endif %}
						  {% if product.specs %}
						    {% for spec in product.specs %}
						      <tr>
						        <td>{{ spec.title }}</td>
						        <td>{{ spec.value }}</td>
						      </tr>
						    {% endfor %}
						  {% endif %}
						</table>
					{% endif %}

					{% include 'snippets/order.rain' %}
				</main>
				<footer>
					<ul>
						{% if page.compare %}
							<li><a href="{{ 'compare' | url }}">{{ 'Compare products' | t }}</a></li>
						{% endif %}
						<li><a href="{{ ('compare/add/' ~ product.vid) | url }}">{{ 'Add to compare' | t }}</a></li>
						<li><a href="{{ ('account/wishlistAdd/' ~ product.id) | url }}">{{ 'Add to wishlist' | t }}</a></li>
						<li><a href="{{ ('account/review/' ~ product.id) | url }}">{{ 'Add your review' | t }}</a></li>
					</ul>
				</footer>
			</section>
		</div>
	</div>

</main>