<form action="{{ collection.internal.url | url }}" method="get" id="filter__values">
  <input type="hidden" name="mode" value="{{ collection.filters.mode }}" id="filter__value__mode">
</form>

<div class="g-row12">
  <div class="g-xs12">
    <select class="filter filter__sort" form="filter__values" name="sort" onchange="$('#filter__values').submit();">
      {% for sort in collection.sorts %}
        <option value="{{ sort.id }}" {% if collection.filters.sort == sort.id %}selected{% endif %}>{{ sort.title }}</option>
      {% endfor %}
    </select>
  </div>

  <div class="g-xs12">
    <ul class="filter u-listInline">
      <li class="filter__mode--grid{% if collection.modes.grid.id == collection.mode2.id %} is-active{% endif %}">Grid</li>
      <li class="filter__mode--list{% if collection.modes.list.id == collection.mode2.id %} is-active{% endif %}">List</li>
    </ul>
  </div>
</div>