<header>

  <div class="g-row12">
    {% if shop.currencies | length > 1 %}
      <div class="g-xs3 g-sm2 g-md1">
        {% include 'snippets/currencies.rain' %}
      </div>
    {% endif %}

    {% if shop.languages | length > 1 %}
      <div class="g-xs3 g-sm2 g-md1">
        {% include 'snippets/languages.rain' %}
      </div>
    {% endif %}
  </div>

  <div class="g-row12">
    <div class="g-xs12 g-md6">
      {% include 'snippets/logo.rain' %}
    </div>
    
    <div class="g-xs12 g-md6">
      <div class="g-row12">
        <div class="g-xs6 g-md12">
          {% include 'snippets/account.rain' %}
        </div>
        
        <div class="g-xs6 g-md12">
          {% include 'snippets/cart.rain' %}
        </div>
        
        <div class="g-xs12">
          {% include 'snippets/search.rain' %}
        </div>
      </div>
    </div>
  </div>

  <div class="g-row12">
    <div class="g-xs12">  
      {% include 'snippets/navigation.rain' %}
    </div>
  </div>

  {% if template != 'pages/index.rain' %}
    <div class="g-row12">
      <div class="g-xs12">
        {% include 'snippets/breadcrumbs.rain' %}   
      </div>
    </div>
  {% endif %}

</header>