{% if collection.mode == 'list' %}
  <div class="g-xs12">
    <article class="product" itemscope itemtype="http://schema.org/Product">
      {% if product.image %}
        <img src="{{ product.image | url_image('270x300x1', product.fulltitle) }}" alt="{{ product.fulltitle }}" itemprop="image">
      {% endif %}
      <a href="{{ product.url | url }}" itemprop="url">
        <h2 itemprop="name">{{ product.title }}</h2>
      </a>
      <p itemprop="description">{{ product.description }}</p>
      <p itemprop="price">{{ product.price.price | money }}</p>
    </article> 
  </div>
{% else %}
  <div class="g-xs6 g-sm4 g-md3">
    <article class="product" itemscope itemtype="http://schema.org/Product">
      {% if product.image %}
        <img src="{{ product.image | url_image('270x300x1', product.fulltitle) }}" alt="{{ product.fulltitle }}" itemprop="image">
      {% endif %}
      <a href="{{ product.url | url }}" itemprop="url">
        <h2 itemprop="name">{{ product.title }}</h2>
      </a>
      <p itemprop="price">{{ product.price.price | money }}</p>
    </article> 
  </div>
{% endif %}