<div class="g-row12">
  <form action="{{ collection.internal.url | url }}" method="get" id="filter__values">
    <div class="g-xs12">
      <select class="filter filter__sort" name="sort" onchange="$('#filter__values').submit();">
        {% for sort in collection.sorts %}
          <option value="{{ sort.id }}" {% if collection.filters.sort == sort.id %}selected{% endif %}>{{ sort.title }}</option>
        {% endfor %}
      </select>
    </div>

    <div class="g-xs12">
      {% if collection.brands %}
        <select class="filter filter__brand" name="brand" onchange="$('#filter__values').submit();">
          {% for brand in collection.brands %}
            <option value="{{ brand.id }}" {% if brand.id == collection.filters.brand%}selected{% endif %}>{{ brand.title }}</option>
          {% endfor %}
        </select>
      {% endif %}
    </div>

    <div class="g-xs12">
      <input type="hidden" name="mode" value="{{ collection.filters.mode }}" id="filter__value__mode">
      <ul class="filter filter__mode u-listInline">
        <li class="filter__mode--grid{% if collection.modes.grid.id == collection.mode2.id %} is-active{% endif %}">Grid</li>
        <li class="filter__mode--list{% if collection.modes.list.id == collection.mode2.id %} is-active{% endif %}">List</li>
      </ul>
    </div>
  </form>
</div>