<main itemscope itemtype="http://schema.org/IndividualProduct">

	<div class="g-row12">
		<div class="g-xs12">
			{% if shop.settings.social.facebook 
				 or shop.settings.social.google 
				 or shop.settings.social.pinterest 
				 or shop.settings.social.twitter 
				 or shop.settings.social.addthis 
			%}
				{% include 'snippets/share.rain' %}
			{% endif %}
		</div>
	</div>

	<div class="g-row12">
		<div class="g-xs12 g-sm6">
			{% if product.image %}
				{% include 'snippets/zoombox.rain' %}
			{% endif %}			
		</div>

		<div class="g-xs12 g-sm6">
			<section>
				<header>
					<h1 itemprop="name">{{ product.title }}</h1>
				</header>
				<main>
					<p>{{ product.price.price | money }}</p>

					{% if product.discounts or product.discount_rules %}
					  <ul class="discounts">
					    {% if product.discounts %}
					      {% for discount in product.discounts %}
					        <li>{{ 'Buy $1 for $2 each and save $3' | t (discount.quantity, discount.price | money, discount.percentage | percentage) }}</li>
					      {% endfor %}
					    {% endif %}    
					    {% if product.discount_rules %}
					      {% for discount_rule in product.discount_rules %}
					        <li>{{ discount_rule }}</li>
					      {% endfor %}
					    {% endif %}
					  </ul>
					{% endif %}

					{% if product.description %}
						<p>{{ product.description }}</p>
					{% endif %}

					{% if product.content %}
						<p>{{ product.content }}</p>
					{% endif %}

					{% if product.score
						 or product.code 
						 or product.brand 
						 or product.stock.track and product.stock.on_stock 
						 or product.stock.delivery 
						 or product.unit
						 or product.specs
					%}
						<table>
						  {% if product.score %}
							  <tr>
							    <td>{{ 'Product score' | t }}:</td>
							    <td itemprop="review">{{ product.score * 10 }}/10</td>
							  </tr>
						  {% else %}
							  <tr>
							    <td>{{ 'Product score' | t }}:</td>
							    <td>{{ {{ 'Not yet rated' | t }}</td>
							  </tr>
						  {% endif %}
						  {% if product.code %}
							  <tr>
							    <td>{{ 'Article number' | t }}:</td>
							    <td itemprop="serialNumber">{{ product.code }}</td>
							  </tr>
						  {% endif %}
							{% if product.brand %}
								<tr>
									<td>{{ 'Brand' | t }}</td>
									<td itemprop="brand">{{ product.brand.title }}</td>
							  </tr>
							{% endif %}
						  {% if product.stock.track and product.stock.on_stock %}
							  <tr itemscope itemtype="https://schema.org/InStock">
							    <td>{{ 'Quantity' | t }}:</td>
							    <td>{{ product.stock.level }}</td>
							  </tr>
						  {% endif %}
						  {% if product.stock.delivery %}
							  <tr itemscope itemtype="http://schema.org/ParcelDelivery">
							    <td>{{ 'Delivery time' | t }}:</td>
							    <td itemprop="expectedArrivalFrom">{{ product.stock.delivery.title }}</td>
							  </tr>
						  {% endif %}
						  {% if product.unit %}
							  <tr>
							    <td>{{ 'Unit price' | t }}:</td>
							    <td>{{ product.unit.price | money }} / {{ product.unit.unit }}</td>
							  </tr>
						  {% endif %}
						  {% if product.specs %}
						    {% for spec in product.specs %}
						      <tr>
						        <td>{{ spec.title }}</td>
						        <td>{{ spec.value }}</td>
						      </tr>
						    {% endfor %}
						  {% endif %}
						</table>
					{% endif %}

					{% include 'snippets/order.rain' %}
				</main>
				<footer>
					{% include 'snippets/actions.rain' %}
				</footer>
			</section>
		</div>
	</div>

</main>