body {
  background: url('background.png') {{theme.background_color}} {{theme.background_repeat}} {{theme.background_position}};
}

html,
button,
input,
select,
textarea {
  color: {{ theme.color_text }};
}

h1, h2, h3, h4, h5, h6 {
  color: {{ theme.color_headings }};
}

